.right-sidebar {
      width:100px;
      background-color:green;
      color:white;
      position:fixed;
      top:0;
      right:0;
      bottom:0;
}

.overlay {
  background-color:rgba(0,0,0,0.3);
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.model {
  width:350px;
  height:100px;
  background-color:white;
  border-radius:8px;
  padding-top:15px;
  padding-left:15px;

  
}
.model-title {
  font-family:roboto,arial;
  font-size:25px;
  font-weight:bold;
}

.model-content {
  font-family:arial;
  margin-top:10px;
  margin-bottom:8px;
}

.button {
  border-style:solid;
  border-width:1px;
}