div {
  font-family:roboto,arial;
  font-weight:500;
  font-size:20px;
}

.container {
  border:1px;
  border-style:solid;
  border-color:grey;
  border-radius:8px;
  width:300px;
}

.flexbox {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  height:40px;
  padding-top:3px;
  padding-bottom:3px;
  padding-right:10px;
  padding-left:10px;
}

.notification {
  background-color:rgb(49, 109, 245);
  color:white;
  padding-top:3px;
  padding-bottom:3px;
  padding-right:10px;
  padding-left:10px;
  border-radius:18px;
  font-size:14px;
  font-weight:bold;
}