p {
  font-family:arial;
  margin-bottom:0px;
  margin-top:0px;
}

.row {
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:20px;
  
 
}

.profile-picture {
  width:70px;
  height:70px;
  object-fit:cover;
  border-radius:40px;
  margin-right:20px;
}

.info {
  width:200px;
}

.name {
  font-weight:bold;
  
  margin-bottom:3px;
}

.handle {
 
  color:grey;
  margin-bottom:5px;
}

.category {
  font-size:14px;
  color:grey;
}

.follow-button {
  background-color:rgb(29,155,240);
  color:white;
  border:none;
  width:90px;
  font-size:20px;
  font-weight:bold;
  padding-top:12px;
  padding-bottom:12px;
  padding-right:10px;
  padding-left:10px;
  border-radius:7px;
}
