p {
  margin-top:0px;
  margin-bottom:0px;
}

.model-number {
  font-family:montserrat;
  font-size:50px;
  font-weight:bold;
  margin-left:90px;

}

.order {
  margin-top:10px;
  margin-left:15px;
  font-size:23px;
}

.delivery-link {
  text-decoration:underline;
}